<h2>Dashboard</h2>

<div class="summary">
    <div class="row">
        <div class="col-3">
            <div class="summary-card">
                <h3>Monthly Income</h3>
            </div>
        </div>
        <div class="col-3">
            <div class="summary-card">
                <h3>Average Savings / Month</h3>
            </div>
        </div>
        <div class="col-3">
            <div class="summary-card">
                <h3>Average Spending / Month</h3>
            </div>
        </div>
        <div class="col-3">
            <div class="summary-card">
                <h3>Total Saved to Date</h3>
            </div>
        </div>
    </div>
</div> <!-- summary -->

<div class="charts">
    <!-- insert chart.js here -->
</div> <!-- charts -->








