<h2>Expense Details</h2>

<form>
  <div class="form-group row">
    <label for="filter" class="col-sm-2 col-form-label">Filter By</label>
    <div class="col-sm-10">
      <div class="input-group mb-3">
        <select >
          <option selected>Choose...</option>
          <option value="1">By Month</option>
          <option value="2">By Category</option>
          <option value="3">By Date Range</option>
          <option value="4">By Specific Date Range</option>
        </select>
      </div>
    </div>
  </div>
</form>

<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Category</th>
    <th>Amount</th>
    <th>Cumulative</th>
  </tr>
  <!-- append data here -->
</table>



<script src= "../public/js/viewexpenses.js"></script>
