<nav class="navbar navbar-dark bg-success">
  <a class="navbar-brand " href="#">
    {{!-- <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> --}}
    ExpenseTracker
  </a>
  <span class="navbar-text ml-auto">
    USERNAME

  </span>
  <span class="navbar-text">
    <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-success">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
  </span>
</nav>

<div class="container-fluid">
<div class="row">
  <nav  class="col-1 d-none d-md-block bg-dark sidebar" style="height:800px">
    <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active text-light" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Add Expense</a>
      </li>
    </ul>
    </div>
    </nav>

<div class="container m-2">
    <h2>Expense Details</h2><br>
<div class="filter-section">
<form>
    <p>Filter by:</p>
    <div style="display:inline-block">
        <label for="date-range">Date Range</label> <br>
        <select id="date-range" class="form-control">
            <option value="lastthirty">Last 30 Days</option> 
            <option value="customrange">Custom Range</option>
        </select>
    </div>
    <div id="custom-range" style="display:none">
        <div style="display:inline-block">
            <label for="start-date">Start</label>
            <input id="start-date" type="date" class="form-control"></select>
        </div>
        <div style="display:inline-block">
            <label for="end-date">End</label>   
            <input id="end-date" type="date" class="form-control"></select>
        </div>
    </div>
    <br>    
    <div style="display:inline-block">
        <label for="category">Category (optional)</label> 
          <select id="category" class="form-control" required>
            <option value="">-- Select a Category --</option> 
            <option value="">Food & Drink</option>
            <option value="">Entertainment</option>
            <option value="">Gas</option>
            <option value="">Clothing</option>
          </select>
      </div> 

      <div style="display:inline-block">
        <label for="description">Description (optional)</label> 
        <input id="description" type="text" class="form-control">
      </div> 
      

      
      <input id="submit" type="submit" class="btn btn-success"> 
    </form>
    </div>
  </div>

    </div>


    
</form>

    



</div>


</div>

<script src= "/js/viewexpenses.js"></script>
